header
    nav
        .nav-wrapper
            .container
                a.brand-logo(href="/") AgroCalc Web
                a.button-collapse(href="#", data-activates="mobile-nav")
                    i.material-icons menu
                ul#slide-out.hide-on-med-and-down.right
                    li
                        a(href="/") Pulverizadores
                    li
                        a(href="/sobre") Sobre
                ul#mobile-nav.side-nav
                    li
                        a(href="/") Pulverizadores
                    li
                        a(href="/sobre") Sobre
