header
    nav
        .nav-wrapper.green
            .container
                a.brand-logo(href="#") Logo
                ul#slide-out.side-nav
                    li
                        a(href="#!")
                            i.material-icons cloud
                        |First Link With Icon
                    li
                        a(href="#!")
                            Second Link
                    li
                        a.subheader
                            Subheader
                    li
                        a.waves-effect(href="#!")
                            Third Link With Waves
                a.button-collapse(data-activates="slide-out")
                    i.material-icons menu
                        