header
    nav
        .nav-wrapper.green
            .container
                a.brand-logo(href="#") Logo
                a.button-collapse(href="#", data-activates="mobile-nav")
                    i.material-icons menu
                ul#slide-out.hide-on-med-and-down.right
                    li
                        a(href="#!") Pulverizadores
                    li
                        a(href="#!")
                            Second Link
                    li
                        a.subheader
                            Subheader
                    li
                        a.waves-effect(href="#!")
                            Third Link With Waves
                ul#mobile-nav.side-nav
                    li
                        a(href="#!") Pulverizadores