extends layouts/base

block baseHead
    include _parts/head


block header
    include _parts/header
    .nav-content
        .container
            ul.tabs.tabs-transparent
                li.tab
                    a(href="#dosagem") Dosagem de Produto
                li.tab
                    a(href="#volume-pulverizacao") Volume Pulverização

block content
    .container
        .row
            #dosagem.col.s12
                .col.s12
                    h3 Cálculo de dosagem de defensivo
                    p Insira os valores para o cálculo de defensivo necessário para aplicação
                .valores
                    .capacidade.col.s12.m6
                        span Capacidade do Tanque (L)
                        .input-field
                            input(id="capacidade", type="number", min="0", step="10")
                            label(for="capacidade") Capacidade (L)
                    .dose-decomendada.col.s12.m6
                        span Dose recomendada do produto (Kg/un ou L/un)
                        .input-field
                            input(id="dose", type="number", min="0", step="0.5")
                            label(for="dose") Dose recomendada (Kg ou L)
                    .volume-pulverizador.col.s12.m6
                        span Volume de calda do pulverizador (L/un)
                        .input-field
                            input(id="volume", type="number", min="0", step="0.1")
                            label(for="volume") Vol. pulverizador (L/un)

                    .medida-area.col.s12.m6
                        span Unidade (un) de medida de área:
                        .input-field
                            select(id="unidade-area")
                                option(value="hectare", selected) Hectare
                                option(value="alqueire_paulista") Alqueire (Paulista)
                                option(value="m") Metros Quadrados

                     .resultado.col.s12
                        span Dosagem para aplicação:
                        span#resultado-dosagem preencha os campos para obter a dosagem da aplicação
                        span  (L - Kg/
                            span#area ha
                            |)

    .container
        .row
            #volume-pulverizacao.col.s12
                .col.s12
                    h3 Cálculo de vazão
                    p Insira os valores para o cálculo da vazão do pulverizador de barra:
                .valores
                    .bico.col.s12.m6
                        span Vazão do bico (L/min):
                        .input-field
                            input(id="vazao-bico", type="number", min="0", step="0.1")
                            label(for="vazao-bico") Vazão do bico (L/min)
                    .distancia-bico.col.s12.m6
                        span Distância dos bicos (cm):
                        .input-field
                            input(id="dist-bico", type="number", min="0", step="0.1")
                            label(for="dist-bico") Dist. dos bicos (cm)
                    
                    .velocidade.col.s12.m6
                        span Velocidade de trabalho (Km/h):
                        .input-field
                            input(id="vel-trabalho", type="number", min="0", step="0.1")
                            label(for="vel-trabalho") Vel. de trabalho (Km/h)
                    .medida-area.col.s12.m6
                        span Unidade de medida de área:
                        .input-field
                            select(id="unidade-area")
                                option(value="hectare", selected) Hectare
                                option(value="alqueire_paulista") Alqueire (Paulista)
                                option(value="m") Metros Quadrados   
                    .resultado.col.s12
                        span Volume de aplicação:
                        span#resultado-volume preencha os campos para o cálculo resultado do volume
                        span  (L/
                            span#area ha
                            |)

    
    
block scripts
    script(type="text/javascript", src="dist/js/app/calc_pulverizador.min.js")
    include _parts/scripts
